<!-- Masthead (blueprinty thing)
================================================== -->
<header class="jumbotron masthead" id="overview">
    <div class="inner">
    </div>
</header>


<div class="container">
    <div class="row">
        <div class="span3">
			<%- partial('plugins/category-menu', { categories: categories }) %>
            <%- partial('plugins/contributors', { contributors: config.plugins.contributors, authors: authors }) %>
        </div>
        <div class="span9">
            <div class="well bg">
                <div class="page-header">
                    <h1>Category : <small>JavaScript</small> <span class="badge badge-info"><%= cates.length %></span></h1>
                </div>
                <div class="row">
                    <div class="span9">
                        <ul>
                    <% cates.forEach(function(article) { %>
                            <li>
                                <h3>
                                    <a href="/post/<%= article._file %>"><%= article.head.title %></a> <small>by <%= article.head.author %> / <%= article.head.published %></small>
                                </h3>
                            </li>
                    <% }); %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /container -->
