<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= config.meta.defaultTitle %></title>
    <meta name="description" content="<%= config.meta.description %>">
    <meta name="author" content="<%= config.meta.author %>">
    <meta name="keywords" content="Node.js, JavaScript" />
    <meta name="generator" content="HarooGul v<%= config.meta.version %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<link href="/rss.xml" rel="alternate" title="<%= config.meta.defaultTitle %>" type="application/rss+xml">

    <!-- Le styles -->
	<link rel="canonical" href="<%= config.meta.siteUrl %>">
	<link href="/favicon.ico" rel="icon">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/prettify.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <!--<link rel="shortcut icon" type="image/x-icon" href="assets/ico/favicon.ico">-->
    <!--<link rel="apple-touch-icon" href="assets/ico/bootstrap-apple-57x57.png">-->
    <!--<link rel="apple-touch-icon" sizes="72x72" href="assets/ico/bootstrap-apple-72x72.png">-->
    <!--<link rel="apple-touch-icon" sizes="114x114" href="assets/ico/bootstrap-apple-114x114.png">-->
</head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">

    <!-- Topbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Haroog</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li>
                <a href="/">Blog</a>
              </li>
              <li>
                <a href="#">About</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

	<%- body %>

    <footer class="footer">
		<div class="container">
			<div class="row">
				<div class="span12 ">
					<div class="well-black">
						<p class="pull-right"><a href="#">Back to top</a></p>
							Development by <a href="http://twitter.com/rhiokim" target="_blank">@rhiokim</a><br/>
							Designed and built with all the love in the world <a href="http://twitter.com/twitter" target="_blank">@twitter</a> by <a href="http://twitter.com/mdo" target="_blank">@mdo</a> and <a href="http://twitter.com/fat" target="_blank">@fat</a>.<br />
							Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
					</div>
				</div>
			</div>
		</div>
    </footer>

    <!-- Le javascript -->
    <!--<script src="/js/lib/require.1.0.4.js"></script>-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/prettify.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
        $('pre > code').parent().addClass('prettyprint linenums');
        prettyPrint();
    </script>
	<%- partial('plugins/google-analysis', config.plugins.google) %>
    </body>
</html>
