<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>404 | haroopress v<%= config.meta.version %></title>
    <meta name="description" content="<%= config.meta.description %>">
    <meta name="author" content="<%= config.meta.author %>">
    <meta name="keywords" content="<%= config.meta.keywords.join(',') %>" />
    <meta name="generator" content="haroopress v<%= config.meta.version %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link rel="canonical" href="<%= config.meta.siteUrl %>">
    <link href="/favicon.ico" rel="icon">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <!--<link rel="apple-touch-icon" href="assets/ico/bootstrap-apple-57x57.png">-->
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon-64.png">
    <!--<link rel="apple-touch-icon" sizes="114x114" href="assets/ico/bootstrap-apple-114x114.png">-->
</head>

    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <a class="pull-right" href="/rss.xml"><img src="/img/buttons/rss.png" /></a>
                    <a class="pull-right" href="http://twitter.com/haroopress" target="_blank"><img src="/img/buttons/twitter.png" /></a>

                    <div class="nav-collapse">
                        <ul class="nav">
                            <li>
                            <a href="/">Home</a>
                            </li>
                            <%- partial('plugins/pages', { pages: pages }) %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <%- partial('plugins/footer', config) %>

    <%- partial('plugins/google-analysis', config.plugins.google) %>
    </body>
</html>
