<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= config.meta.pageTitle %> <%= config.meta.defaultTitle %></title>
    <meta name="description" content="<%= config.meta.description %>">
    <meta name="author" content="<%= config.meta.author %>">
    <meta name="keywords" content="<%= config.meta.keywords.join(',') %>" />
    <meta name="generator" content="haroopress v<%= config.meta.version %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link rel="canonical" href="<%= config.meta.siteUrl %>">

    <link href="/css/haroo.css" rel="stylesheet">
    <link href="/css/404.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon-64.png">
    </head>
    <body>
        <h1>404 page not found.</h1>

        <%- partial('plugins/google-analysis', config.plugins.google) %>
    </body>
</html>