<!-- Masthead (blueprinty thing)
================================================== -->
<header class="jumbotron masthead" id="overview">
    <div class="inner">
    </div>
</header>


<div class="container">
    <div class="row">
        <div class="span3">
            <div id="author" class="well">
                <div>
                    <h3>About Author</h3>
                    <ul class="thumbnails">
                        <li>
                            <a class="thumbnail">
                                <img src="<%= author.gravatar %>" />
                            </a>
                        </li>
                    </ul>
                    <p>
                        <strong><%= author.name %></strong><br/>
                        blog: <a href="<%= author.blog %>" target="_blank"><%= author.blog %></a><br/>
                        twitter: <a href="http://twitter.com/<%= author.twitter %>" target="_blank">@<%= author.twitter %></a><br/>
                        github: <a href="https://github.com/<%= author.twitter %>" target="_blank"><%= author.github %></a>
                    </p>
                    <p>
                        <a href="https://twitter.com/<%= author.twitter %>" class="twitter-follow-button" data-show-count="false">Follow @<%= author.twitter %></a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </p>
                    <p><%- author.intro %></p>
                </div>
                <div>
                    <h3>About this Article</h3>
                    <p>
                        <h5>Date Released:</h5>
                        <span><%= header.published %></span>
                    </p>
                    <p>
                        <h5>Last Updated:</h5>
                        <span><%= header.modified %></span>
                    </p>
                    <p>
                        <!--<div class="fb-like" data-send="true" data-layout="button_count" data-width="240" data-show-faces="false"></div>-->
                        <!--<div id="fb-root"></div>-->
                        <!--<script>(function(d, s, id) {-->
                          <!--var js, fjs = d.getElementsByTagName(s)[0];-->
                          <!--if (d.getElementById(id)) return;-->
                          <!--js = d.createElement(s); js.id = id;-->
                          <!--js.src = "//connect.facebook.net/ko_KR/all.js#xfbml=1";-->
                          <!--fjs.parentNode.insertBefore(js, fjs);-->
                        <!--}(document, 'script', 'facebook-jssdk'));</script>-->
                        <%- partial('plugins/facebook', plugins.facebook) %>

                        <!-- Place this tag where you want the +1 button to render -->
                        <g:plusone size="medium"></g:plusone>

                        <!-- Place this render call where appropriate -->
                        <script type="text/javascript">
                          (function() {
                            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                            po.src = 'https://apis.google.com/js/plusone.js';
                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                          })();
                        </script>

                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="<%= author.twitter %>">Tweet</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

                    </p>
                </div>
            </div>
            <div class="well">
                <ul class="nav nav-list">
                    <li class="nav-header">Categories</li>
                    <li class="active"><a href="#"><i class="icon-white icon-home"></i> Home</a></li>
                    <li><a href="#"><i class="icon-book"></i> Library</a></li>
                    <li><a href="#"><i class="icon-pencil"></i> Applications</a></li>
                    <li class="nav-header">Another list header</li>
                    <li><a href="#"><i class="icon-user"></i> Profile</a></li>
                    <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
                    <li><a href="#"><i class="icon-flag"></i> Help</a></li>
                </ul>
            </div>
        </div>
        <div class="span9">
            <div class="row">
                <div class="span9 well">
                    <div class="page-header">
                        <h1><%= header.title %> <small>by <%= author.name %></small></h1>
                    </div>
                    <div class="article">
                        <%- body %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span9">
                    <%- partial('plugins/disqus', plugins.disqus) %>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row">-->
        <!--<div class="offset3 span9">-->
            <!--<strong>tags</strong> :-->
            <!--<% header.tags.forEach(function(tag) { %>-->
            <!--<a href="/tag/<%= tag %>"><%= tag %></a>&nbsp;-->
            <!--<% }) %>-->
        <!--</div>-->
    <!--</div>-->
</div><!-- /container -->
