<!-- Masthead (blueprinty thing)
================================================== -->
<header class="jumbotron masthead" id="overview">
    <div class="inner">
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="span3">
            <%- partial('plugins/intro', config) %>
            <div class="well">
                <ul class="nav nav-list">
                    <%- partial('plugins/author-menu', { authors: authors }) %>
                    <li class="nav-header">Another list header</li>
                    <li><a href="/category"><i class="icon-book"></i> Category</a></li>
                    <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
                    <li><a href="#"><i class="icon-flag"></i> Help</a></li>
                </ul>
            </div>
        </div>
        <div class="span9">
            <div class="row">
                <div class="span9">
                    <div class="well">
                        <div class="page-header">
                            <h1>Authors</h1>
                        </div>
                        <div class="markdown">
                            <ul class="thumbnails">
                                <% for(var author in authors) { %>
                                <li class="thumbnail">
                                    <a href="/authors/<%= authors[author].head.name %>">
                                        <img src="<%= authors[author]._gravatar.replace('128.jpg', '175.jpg') %>"/>
                                    </a>
                                    <div class="caption">
                                        <p>
                                            <%= authors[author].head.name %>
                                            <span class="badge badge-info"><%= authors[author].archives.length %></span>
                                        </p>
                                        <div>
                                            <a href="https://twitter.com/<%= authors[author].head.twitter %>" class="twitter-follow-button" data-show-count="true" data-show-screen-name="false">Follow @<%= authors[author].head.twitter %></a>
                                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                        </div>
                                    </div>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="span8">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </div>
</div><!-- /container -->
