<!-- Masthead (blueprinty thing)
================================================== -->
<header class="jumbotron masthead" id="overview">
    <div class="inner">
    </div>
</header>


<div class="container">
    <div class="row">
        <div class="span3">
            <%- partial('plugins/category-menu', { categories: categories }) %>
            <%- partial('plugins/contributors', { contributors: config.plugins.contributors, authors: authors }) %>
        </div>
        <div class="span9">
            <div class="well bg">
                <div class="page-header">
                    <h1>Categories</h1>
                </div>
            <% for(var cate in categories) { %>
                <div class="row">
                    <div class="span9">
                        <h2><%= cate %></h2>
                    </div>
                </div>
                <% categories[cate].forEach(function(archive) { %>
                <div class="row">
                    <div class="span1" style="width:40px;">
                        <img class="thumbnail" width="40" src="<%= archive.author._gravatar %>" />
                    </div>
                    <div class="span7">
                        <h3><a href="/post/<%= archive._file %>"><%= archive.head.title %></a></h3>
                        <small>by <%= archive.author.head.name %> / <%= archive.head.published %></small>
                    </div>
                </div>
                <hr/>
                <% }) %>
            <% } %>
            </div>
        </div>
    </div>
</div><!-- /container -->
